.team__headline {
  margin-bottom: 17px;
}
.team__title {
  margin-bottom: 85px;
}
.team {
  padding-bottom: 80px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__text {
  margin-bottom: 27px;
  color: $add-color;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  line-height: normal;
}
.team-item__title {
  margin-top: 30px;
  color: $text-color;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
}
.team-item__text {
  margin-top: 11px;
  color: $add-color;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
